.contenido {
  margin:auto;
  max-width: 800px;
  padding: 30px 40px 10px;
  text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
    border: 10px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
}

img{
  border: 10px solid black;
    width: 600px;
    height: 800px;
    border-radius: 15px;
}
